{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<head>
	<title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
	{% block head %}{% endblock %}

</head>
<body>
    <!-- PAGE START -->
    <div id="page">
       {% include 'includes/navbar.html' %}
       {% block content %}{% endblock %}
       {% include 'includes/footer.html' %}
    </div>
    <!-- PAGE END -->
    <!-- JAVASCRIPT START -->
    {% block scripts %}{% endblock %}
    <!-- JAVASCRIPT END -->

</body>
</html>
